body{
    background-image:url('../images/college.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    background-origin: content-box;
    background-position:center center;
}
.p{
    background-color:aqua;
    text-decoration-color: red;
}
img{
    padding:20px;
    float:inline-end;
    border:10px solid white;
    width: 90%;
    border: 5px;
    outline-style:solid;
    outline-color:blue;
    outline-width: 5px;
}
.row.col1,.row.col2{
    float: left;
    width: 50%;
}
.mytitle{
    background-color:rgb(241, 104, 24);
}